p:last-child{
    margin: 15%;
    margin-left: 30%;
}
.album{
    background-color: #212121;
    margin: 3%;
    border: solid #212121 20px;
    border-radius: 25px;
    display: flex;
    align-items: center;
}
.albums{
    display: flex;
    flex-direction: row;
}
.albums h2 a{
    padding-left: 10%;
    text-align: center;
}
.albums-image img{
    padding-right: 3%;
}
body{
    color: white;
}
.imgalbum{
    max-width: 100px;
    max-height: auto;
}